<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.ryxrzt.mapper.RztAgencyMouldMapper">
  <resultMap id="BaseResultMap" type="com.ryx.ryxrzt.entity.RztAgencyMould">
    <result column="AGENCY_ID" jdbcType="VARCHAR" property="agencyId" />
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="RULEREM" jdbcType="VARCHAR" property="rulerem" />
    <result column="MOULD_NAME" jdbcType="VARCHAR" property="mouldName" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="VALIDITY_DATE" jdbcType="VARCHAR" property="validityDate" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="PARENT_RULE_ID" jdbcType="VARCHAR" property="parentRuleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AGENCY_ID, RULE_ID, RULEREM, MOULD_NAME,  STATUS, VALIDITY_DATE, CREATE_DATE, UPDATE_DATE,
    CREATOR, PARENT_RULE_ID
  </sql>
  <insert id="insert" parameterType="com.ryx.ryxrzt.entity.RztAgencyMould">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2019-03-20 14:56:57.
    -->
    insert into RZT_AGENCY_MOULD (AGENCY_ID, RULE_ID, RULEREM,
      MOULD_NAME, STATUS, VALIDITY_DATE, 
      CREATE_DATE, UPDATE_DATE, CREATOR, 
      PARENT_RULE_ID)
    values (#{agencyId,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, #{rulerem,jdbcType=VARCHAR}, 
      #{mouldName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{validityDate,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{parentRuleId,jdbcType=VARCHAR})
  </insert>
  <update id="upTopMould" parameterType="map">
    update RZT_AGENCY_MOULD
    SET
       UPDATE_DATE=to_char(sysdate,'yyyyMMddhh24miss'),
       MOULD_NAME = #{mouldName},
       VALIDITY_DATE = #{validityDate}
    WHERE
      AGENCY_ID = #{agencyId} and RULE_ID= #{ruleId}
  </update>
  <select id="getAgencyMouldList" resultMap="BaseResultMap">
    SELECT ROWNUM RN, AGENCY_ID ,RULE_ID ,RULEREM,MOULD_NAME,to_char(to_date(VALIDITY_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') VALIDITY_DATE,CREATE_DATE,getDictionary('FRZT',STATUS) STATUS,PARENT_RULE_ID
    FROM RZT_AGENCY_MOULD WHERE AGENCY_ID=#{agencyId}
  </select>
  <select id="selectAnyWhere" resultType="java.util.HashMap">
    SELECT * FROM(
    SELECT * FROM
    (SELECT ROWNUM RN, A.AGENCY_ID as "agencyId" , A.RULE_ID "ruleId" ,
    A.RULEREM "rulerem", A.MOULD_NAME "mouldName",
    to_char(to_date( A.VALIDITY_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') "validityDate",
    A.CREATE_DATE "createDate",getDictionary('FRZT', A.STATUS) "status",
    A.PARENT_RULE_ID "parentRuleId",B.BRANCHID "branchId",C.NAME "name",
    NVL(B.AGENCY_NAME,B.AGENCY_ID) "agencyName"
      FROM RZT_AGENCY_MOULD A
      JOIN RZT_AGENCY_INFO B
      ON A.AGENCY_ID=B.AGENCY_ID
      JOIN RZT_BRANCH C
      ON B.BRANCHID=C.BRANCHID
      WHERE  A.STATUS in('0','1')
    <if test="ruleRem!=null">
      and A.RULEREM=#{ruleRem}
    </if>
    <if test="agencyId!=null">
      and A.AGENCY_ID = #{agencyId}
    </if>
    <if test="branchId!=null">
      and B.AGENCY_ID = #{branchId}
    </if>
    <choose>
      <when test="startDate!=null and endDate!=null">
        and to_char(to_date(A.VALIDITY_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') between #{startDate} and #{endDate}
      </when>
      <when test="startDate!=null and endDate==null">
        and to_char(to_date(A.VALIDITY_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') = #{startDate}
      </when>
      <when test="startDate==null and endDate!=null">
        and to_char(to_date(A.VALIDITY_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') = #{endDate}
      </when>
    </choose>
    <if test="mouldName!=null">
      and A.MOULD_NAME like  CONCAT(CONCAT('%', #{mouldName}), '%')
    </if>
    ) D
    WHERE RN&lt;=#{page}*#{limit}
    ) where RN&gt;(#{page}-1)*#{limit}
  </select>
  <select id="getAgencyUseableMouldCount" resultType="java.lang.Integer">

  SELECT  COUNT(*)
      FROM RZT_AGENCY_MOULD
    WHERE   STATUS in('0','1')
    <if test="rulerem!=null">
      and RULEREM=#{rulerem}
    </if>
    <if test="agencyId!=null">
      and AGENCY_ID = #{agencyId}
    </if>
    <choose>
      <when test="startDate!=null and endDate!=null">
        and to_char(to_date(CREATE_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') between #{startDate} and #{endDate}
      </when>
      <when test="startDate!=null and endDate==null">
        and to_char(to_date(CREATE_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') = #{startDate}
      </when>
      <when test="startDate==null and endDate!=null">
        and to_char(to_date(CREATE_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') = #{endDate}
      </when>
    </choose>
    <if test="mouldName!=null">
      and MOULD_NAME like  CONCAT(CONCAT('%', #{mouldName}), '%')
    </if>
  </select>
  <select id="getAgencyMouldCount" resultType="java.lang.Integer">

    SELECT  COUNT(*)
    FROM RZT_AGENCY_MOULD
    <where>
    <if test="rulerem!=null">
      and RULEREM=#{rulerem}
    </if>
    <if test="agencyId!=null">
      and AGENCY_ID = #{agencyId}
    </if>
    <choose>
      <when test="startDate!=null and endDate!=null">
        and to_char(to_date(CREATE_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') between #{startDate} and #{endDate}
      </when>
      <when test="startDate!=null and endDate==null">
        and to_char(to_date(CREATE_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') = #{startDate}
      </when>
      <when test="startDate==null and endDate!=null">
        and to_char(to_date(CREATE_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') = #{endDate}
      </when>
    </choose>
    <if test="mouldName!=null">
      and MOULD_NAME like  CONCAT(CONCAT('%', #{mouldName}), '%')
    </if>
    </where>
  </select>
  <select id="hasMouldName"  resultType="java.lang.Integer">
   SELECT count(*) FROM
   RZT_AGENCY_MOULD
   WHERE MOULD_NAME = #{mouldName} AND AGENCY_ID = #{agencyId}
</select>
  <select id="getTemplateRule" resultType="java.util.HashMap">
    SELECT d.RULE_NAME_ID RULE_NAME,b.RULE_ID,b.RULE_NUM,to_char(b.RULEBEGIN) RULEBEGIN,b.RULEEND,b.BATCH_ID,b.DEALTYPE_ID DEAL_TYPE,getDealNameNew(b.DEALTYPE_ID) AS dealTypeName,b.AGENCY_ID,
		 CASE WHEN b.SPLITTING_MODE='1' THEN b.RULEVALUE WHEN b.SPLITTING_MODE='2' THEN b.RULEVALUE*100 WHEN b.SPLITTING_MODE='3' THEN b.RULEVALUE WHEN b.SPLITTING_MODE='4' THEN b.RULEVALUE*100 when b.SPLITTING_MODE='5' then b.RULEVALUE*100 else b.RULEVALUE*100  END AS ruleValue,
		 CASE WHEN b.SPLITTING_MODE='1' THEN b.RULEVALUE WHEN b.SPLITTING_MODE='2' THEN b.RULEVALUE*100 WHEN b.SPLITTING_MODE='3' THEN b.RULEVALUE WHEN b.SPLITTING_MODE='4' THEN b.RULEVALUE*100 when b.SPLITTING_MODE='5' then b.RULEVALUE*100 else b.RULEVALUE*100  END AS parentRuleValue,
		 c.PARENT_AGENCY_ID,a.VALIDITY_DATE ,a.MOULD_NAME,b.SPLITTING_MODE,getDictionary('FRFS',b.SPLITTING_MODE) splittingModeStr,
      NVL(b.SPLITTING_REGIONMODE,' ') SPLITTING_REGIONMODE,b.MODIFY_TYPE,a.STATUS,a.PARENT_RULE_ID,b.SEQUENCE_ID,d.SORT_ID,b.DELAY
		 from RZT_AGENCY_MOULD a left join rzt_mould b on a.rule_id=b.rule_id and a.agency_id=b.agency_id
		 LEFT JOIN rzt_agency_info c ON c.AGENCY_ID=a.AGENCY_ID
		 LEFT JOIN  (select RULE_NAME_ID,SEQUENCE_ID,SORT_ID from rzt_mould_agency_rule where branchid=#{branchId} ) d on b.SEQUENCE_ID = d.SEQUENCE_ID where a.AGENCY_ID =#{agencyId}
  <if test="ruleId!=null">
    and a.RULE_ID = #{ruleId}
  </if>
  <if test="status!=null">
    and a.STATUS = #{status}
  </if>
  <if test="mouldName!=null">
    and a.MOULD_NAME = #{mouldName}
  </if>
  <if test="parentRuleId!=null">
    and a.PARENT_RULE_ID =#{parentRuleId}
  </if>
  ORDER BY d.SORT_ID asc
</select>
  <select id="getAgencyRule" resultType="java.util.HashMap">
  SELECT RULESTART,RULEEND,BRANCHID,FR_TYPE,STATUS
  FROM rzt_mould_agency_rule
  WHERE branchid=#{branchId} AND SEQUENCE_ID =#{sequenceId}
</select>
  <select id="getBatch" resultType="java.util.HashMap">
    	SELECT batch_id,name FROM RZT_BATCH
  </select>
  <delete id="delAgencyMould" parameterType="java.util.Map">
      delete from RZT_AGENCY_MOULD WHERE RULE_ID = #{ruleId}  AND AGENCY_ID = #{agencyId}
  </delete>
  <select id="getUseableAgencyMould" parameterType="java.util.Map" resultType="java.util.HashMap">
    SELECT   AGENCY_ID ,RULE_ID ,RULEREM,MOULD_NAME,to_char(to_date(VALIDITY_DATE,'yyyyMMddhh24miss'),'yyyyMMdd') VALIDITY_DATE,CREATE_DATE,getDictionary('FRZT',STATUS) STATUSNAME,STATUS,PARENT_RULE_ID
     FROM RZT_AGENCY_MOULD
     WHERE AGENCY_ID = #{agencyId}
     <choose>
       <when test="ruleId!=null">
         and RULE_ID =#{ruleId}
       </when>
       <otherwise>
         and STATUS = '0' and RULEREM='0'
       </otherwise>
     </choose>

  </select>
  <select id="getBranchId" resultType="java.lang.String">
    SELECT DISTINCT BRANCHID
    FROM RZT_AGENCY_INFO
    WHERE  AGENCY_ID=#{agencyId}
  </select>
</mapper>