<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.ryxrzt.mapper.RztAgencyInfoMapper">
    <select id="getRztAgencyInfoList" resultType="com.ryx.ryxrzt.vo.AgencyInfoVo" parameterType="com.ryx.ryxrzt.vo.AgencyInfoVo">
        select a.agency_id,a.agency_code,c.name,a.agency_name,a.mobile,b.agency_name as parent_agency_name,a.create_date,a.direct,a.level_type,a.freeze from rzt_agency_info a
        left join rzt_agency b on a.parent_agency_code = b.agency_code  left join rzt_branch c on a.branchid = c.branchid where 1 = 1
        <if test="branchid !=null and branchid != ''">
             and a.branchid = #{branchid}
        </if>
        <if test="agencyId !=null and agencyId != ''">
             and a.parent_agency_id = #{agencyId}
        </if>
        <if test="agencyName !=null and agencyName != ''">
            and (a.agency_name like CONCAT(CONCAT('%',#{agencyName}),'%')  or a.mobile = #{agencyName} or a.agency_id = #{agencyName})
        </if>
        <if test="beginDate !=null and beginDate != '' and endDate !=null and endDate != ''">
            and a.create_date between #{beginDate} and #{endDate}
        </if>
        <if test="freeze == 0">
            and (a.freeze = '0' or a.freeze is null)
        </if>
        <if test="freeze == 1">
            and a.freeze = '1'
        </if>
        <if test="direct !=null and direct != ''">
            and a.direct = #{direct}
        </if>
        <if test="levelType !=null and levelType != ''">
            and a.level_type = #{levelType}
        </if>
        order by a.level_type
    </select>
    <!--是否直签-->
    <update id="setRztAgencyDirect" parameterType="com.ryx.ryxrzt.vo.AgencyInfoVo">
        update rzt_agency_info a set a.direct = #{direct},a.level_type = #{levelType} where a.agency_id = #{agencyId}
    </update>
    <!--查询下级代理商-->
    <select id="getAgencyInfoByAgencyId" parameterType="java.lang.String" resultType="com.ryx.ryxrzt.entity.RztAgencyInfo">
        select agency_id,agency_name from rzt_agency_info where parent_agency_id = #{agencyId}
    </select>
    <!--修改冻结状态-->
    <update id="setAgencyFreeze" parameterType="com.ryx.ryxrzt.entity.RztAgencyInfo">
        UPDATE RZT_AGENCY_INFO SET freeze = #{freeze},freeze_relation = #{freezeRelation} WHERE agency_id = #{agencyId}
    </update>
    <!--添加冻结流水表-->
    <insert id="insertAgencyFreezeLs" parameterType="com.ryx.ryxrzt.entity.RztAgencyFreezeLs">
        INSERT INTO RZT_AGENCY_FREEZE_LS (id,freeze,freeze_relation,freeze_person,indate,freezed_person) values(SEQ_RZT_AGENCY_FREEZE_LS.nextval,#{freeze},#{freezeRelation},#{freezePerson},#{indate},#{freezedPerson})
    </insert>
    <!--查询所有下级代理商-->
    <select id="getAgencyInfoAllSonByAgencyId" parameterType="java.lang.String" resultType="com.ryx.ryxrzt.entity.RztAgencyInfo">
        select * from RZT_AGENCY_INFO  start with agency_id = #{agencyId}
        connect by prior  agency_id = parent_agency_id
    </select>
    <!--查询所有品牌-->
    <select id="getRztBranch" resultType="com.ryx.ryxrzt.entity.RztBranch">
        select branchid,name from rzt_branch
    </select>
    <!--查询机构-->
    <select id="getAppUserList" resultType="com.ryx.ryxrzt.vo.AgencyInfoVo">
        select agency_id,agency_name from rzt_agency_info where level_type = '10A'
    </select>
    <!--查询字典表数据（下拉框）-->
    <select id="getSelectList" parameterType="java.lang.String" resultType="com.ryx.ryxrzt.entity.SysDictionaryBasic">
        select b.text,b.value  from sys_dictionary_basic a
        inner join sys_dictionary_basic b
        on a.uuid = b.puuid
        where a.code = #{name}
    </select>
    <!--查询代理商相关信息根据agencyId-->
    <select id="getAgencyByAgencyId" parameterType="com.ryx.ryxrzt.vo.AgencyInfoVo" resultType="com.ryx.ryxrzt.vo.AgencyInfoVo">
        SELECT agency_code,agency_name,mobile,level_type FROM rzt_agency_info WHERE agency_id = #{agencyId}
    </select>
    <!--查询代理商所有上级关系根据agencyId-->
    <select id="getAgencyInfoAllParentByAgencyId" parameterType="com.ryx.ryxrzt.vo.AgencyInfoVo" resultType="com.ryx.ryxrzt.vo.AgencyInfoVo">
        select agency_name,level_type from RZT_AGENCY_INFO  start with agency_id = #{agencyId}
        connect by prior  parent_agency_id = agency_id
    </select>
</mapper>