<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.ryxrzt.mapper.UserInfoMapperExp">
  <resultMap id="BaseResultMap" type="com.ryx.ryxrzt.entity.UserInfoExpand">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="PWD_LAST_CHANGE" jdbcType="VARCHAR" property="pwdLastChange" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ORGNAME" jdbcType="VARCHAR" property="orgName" />
  </resultMap>

  <select id="selectUserInfo" parameterType="com.ryx.ryxrzt.entity.UserInfo" resultMap="BaseResultMap">
    select * from (
    select a.*,b.TEXT orgName,c.TEXT roleName,rownum rn from user_info a
    left join user_org b
    on a.ORG_ID = b.id
    left join USER_ROLE c
    on a.ROLE_ID = c.id
    where rownum <![CDATA[<]]> #{endRows}
    <if test="orgId != null">
      and a.org_id = #{orgId,jdbcType=VARCHAR}
    </if>
    <if test="loginName != null">
      and a.login_name = #{loginName,jdbcType=VARCHAR}
    </if>
    ) where rn<![CDATA[>=]]>#{beginRows}
  </select>

  <select id="selectUserInfoCnt" parameterType="com.ryx.ryxrzt.entity.UserInfo"  resultType="java.lang.Long">
    select count(1)
    from user_info a
    left join user_org b
    on a.ORG_ID = b.id
    left join USER_ROLE c
    on a.ROLE_ID = c.id
    where 1=1
    <if test="orgId != null">
      and a.org_id = #{orgId,jdbcType=VARCHAR}
    </if>
    <if test="orgId != null">
      and a.login_name = #{loginName,jdbcType=VARCHAR}
    </if>
  </select>



</mapper>