<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.ryxrzt.mapper.UserOrgMapper">
  <resultMap id="BaseResultMap" type="com.ryx.ryxrzt.entity.UserOrg">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="LEADER" jdbcType="VARCHAR" property="leader" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="ICON_CLS" jdbcType="VARCHAR" property="iconCls" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="TEXT" jdbcType="VARCHAR" property="text" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, UUID, LEADER, PID, SORT, CODE, STATUS, ICON_CLS, STATE, TEXT
  </sql>
  <select id="selectByExample" parameterType="com.ryx.ryxrzt.entity.UserOrgExample" resultMap="BaseResultMap">
    
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from USER_ORG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER_ORG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from USER_ORG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ryx.ryxrzt.entity.UserOrgExample">
    delete from USER_ORG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ryx.ryxrzt.entity.UserOrg">
    insert into USER_ORG (ID, UUID, LEADER, 
      PID, SORT, CODE, STATUS, 
      ICON_CLS, STATE, TEXT
      )
    values (#{id,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{iconCls,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryx.ryxrzt.entity.UserOrg">
    insert into USER_ORG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="uuid != null">
        UUID,
      </if>
      <if test="leader != null">
        LEADER,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="iconCls != null">
        ICON_CLS,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="text != null">
        TEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ryx.ryxrzt.entity.UserOrgExample" resultType="java.lang.Long">
    select count(*) from USER_ORG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update USER_ORG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null">
        LEADER = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        PID = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.iconCls != null">
        ICON_CLS = #{record.iconCls,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.text != null">
        TEXT = #{record.text,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update USER_ORG
    set ID = #{record.id,jdbcType=VARCHAR},
      UUID = #{record.uuid,jdbcType=VARCHAR},
      LEADER = #{record.leader,jdbcType=VARCHAR},
      PID = #{record.pid,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      CODE = #{record.code,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR},
      ICON_CLS = #{record.iconCls,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      TEXT = #{record.text,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryx.ryxrzt.entity.UserOrg">
    update USER_ORG
    <set>
      <if test="uuid != null">
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        LEADER = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="iconCls != null">
        ICON_CLS = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        TEXT = #{text,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryx.ryxrzt.entity.UserOrg">
    update USER_ORG
    set UUID = #{uuid,jdbcType=VARCHAR},
      LEADER = #{leader,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      ICON_CLS = #{iconCls,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      TEXT = #{text,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>