<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.ryxpay.mapper.RyxTerminalMapper">
	<select id="getTerminalRateByType04" resultType="com.ryx.ryxpay.vo.RyxpayTerminalRateInfoVo"
		 parameterType="map" >
		select a.term_id terminalNo,
		       a.term_type bigTypeCode,
		       a.merchantid merchantId,
		       a.productid productId,
		       a.merchantid || a.productid tradeTypeCode,
		       b.productdesc tradeTypeName,
		       a.fee_rate feeRate,
		       a.fee_fixed feeFixed
		  from ryx_term_feerate a
		 inner join payproduct b
		    on a.merchantid = b.merchantid
		   and a.productid = b.productid
		 where a.term_id = #{appUser}
		   and a.term_type = #{terminalType}
	</select>
	<select id="getTerminalRateByType01" resultType="com.ryx.ryxpay.vo.RyxpayTerminalRateInfoVo"
		 parameterType="map" >
		select a.term_id terminalNo,
		       a.term_type bigTypeCode,
		       a.merchantid merchantId,
		       a.productid productId,
		       a.merchantid || a.productid tradeTypeCode,
		       b.productdesc tradeTypeName,
		       a.fee_rate feeRate,
		       a.fee_fixed feeFixed
		  from ryx_term_feerate a
		 inner join payproduct b
		    on a.merchantid = b.merchantid
		   and a.productid = b.productid
		 where a.term_id = #{appUser}
		   and a.term_type = #{terminalType}
		   order by tradeTypeCode
		
	</select>
	
	<select id="getCustomerLevel" resultType="com.ryx.ryxpay.vo.RyxpayTerminalRateInfoVo"
		 parameterType="map" >
		select b.customer_level customerLevel
		  from payterminal a
		 inner join ryx_rft_customer_relation b
		    on a.customerid = b.customerid
		   and b.term_brand_id = #{branchId}
		 where a.psamid = #{terminalNo}
	</select>
</mapper>