<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryx.ryxpay.mapper.RyxTermOrderMapper">
    <resultMap id="BaseResultMap" type="com.ryx.ryxpay.entity.RyxTermOrder">
        <result column="BRANCHNAME" property="branchName" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="userName" jdbcType="VARCHAR"/>
        <result column="USERID" property="userPhoneNumber" jdbcType="VARCHAR"/>
        <result column="TERMID" property="termid" jdbcType="VARCHAR"/>
        <result column="AMOUNT" property="amount" jdbcType="VARCHAR"/>
        <result column="STATUS" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="TRADEMODE" property="tradeMode" jdbcType="VARCHAR"/>
        <result column="ORDERID" property="orderId" jdbcType="VARCHAR"/>
        <result column="ORDERCDATE" property="ordercDate" jdbcType="VARCHAR"/>
        <result column="WAYDATE" property="wayDate" jdbcType="VARCHAR"/>
        <result column="CONSIGNEE" property="consignee" jdbcType="VARCHAR"/>
        <result column="PROVINCE" property="province" jdbcType="VARCHAR"/>
        <result column="CITY" property="city" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="COMPANY" property="expressCompany" jdbcType="VARCHAR"/>
        <result column="CONSIGNEEPHONE" property="consigneePhone" jdbcType="VARCHAR"/>
        <result column="WAYBILL" property="waybill" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    ROWNUM RN, BRANCH.NAME BRANCHNAME,CUS.USERNAME USERNAME,
    PUER.USERID USERID,DELIVER.START_NUM TERMID ,TORDER.AMOUNT AMOUNT,
TORDER.STATUS STATUS,TORDER.TRADE_MODE TRADEMODE,TORDER.ORDER_ID ORDERID,TORDER.ORDER_CDATE ORDERCDATE,TORDER.WAY_DATE WAYDATE,
ADDRESS.USERNAME CONSIGNEE,ADDRESS.PROVINCE PROVINCE ,ADDRESS.CITY CITY, ADDRESS.ADDRESS ADDRESS,TORDER.EXPRESS_COMPANY COMPANY,
ADDRESS.PHONE CONSIGNEEPHONE,TORDER.WAYBILL WAYBILL
  </sql>
    <select id="selectByRyxTermOrder" resultMap="BaseResultMap" parameterType="com.ryx.ryxpay.entity.RyxTermOrder">
        select * from ( SELECT   <include refid="Base_Column_List"></include> FROM RYX_TERM_ORDER TORDER LEFT JOIN
        RYX_TERM_ORDER_DETAIL DETAIL ON TORDER.ORDER_ID = DETAIL.ORDER_ID LEFT JOIN RYX_TERM_GOODS GOODS ON
        DETAIL.GOODS_ID=GOODS.ID LEFT JOIN
        RYX_TERM_BRAND BRANCH ON GOODS.BRANCH_ID = BRANCH.ID LEFT JOIN PAYCUSTOMER CUS ON TORDER.AGENCY_ID =
        CUS.CUSTOMERID
        LEFT JOIN RYX_DELIVERY_ADDRESS ADDRESS ON TORDER.RECEIVER_ID =ADDRESS.ID LEFT JOIN PAYUSER PUER ON
        CUS.CUSTOMERID=PUER.CUSTOMERID
        LEFT JOIN RYX_TERM_ORDER_DETAIL_DELIVER DELIVER ON TORDER.ORDER_ID=DELIVER.ORDER_ID
        <where >
        <if test="branchName != null">
            and BRANCH.NAME= #{branchName,jdbcType=VARCHAR}
        </if>
        <if test="userPhoneNumber != null">
            and PUER.USERID= #{userPhoneNumber,jdbcType=VARCHAR}
        </if>
        <if test="orderStatus != null">
            and TORDER.STATUS= #{orderStatus,jdbcType=VARCHAR}
        </if>
        <if test="orderId != null">
            and TORDER.ORDER_ID= #{orderId,jdbcType=VARCHAR}
        </if>
        <if test="ordercDate != null">
            and TORDER.ORDER_CDATE= #{ordercDate,jdbcType=VARCHAR}
        </if>
        <if test="wayDate != null">
            and TORDER.WAY_DATE= #{wayDate,jdbcType=VARCHAR}
        </if>
        <if test="termid != null">
            and DELIVER.START_NUM = #{termid,jdbcType=VARCHAR}
        </if>
        <if test="endRownum != null">
            and ROWNUM &lt;= #{endRownum}
        </if>
        </where>
        )
        <where>
        <if test="startRownum != null">
            and RN &gt; #{startRownum}
        </if>
      </where>

    </select>

    <select id="selectCountByRyxTermOrder" resultType="int" parameterType="com.ryx.ryxpay.entity.RyxTermOrder">
        SELECT count (1) FROM RYX_TERM_ORDER TORDER LEFT JOIN RYX_TERM_ORDER_DETAIL DETAIL ON TORDER.ORDER_ID =
        DETAIL.ORDER_ID LEFT JOIN RYX_TERM_GOODS GOODS ON DETAIL.GOODS_ID=GOODS.ID LEFT JOIN
        RYX_TERM_BRAND BRANCH ON GOODS.BRANCH_ID = BRANCH.ID LEFT JOIN PAYCUSTOMER CUS ON TORDER.AGENCY_ID =
        CUS.CUSTOMERID LEFT JOIN RYX_DELIVERY_ADDRESS ADDRESS ON TORDER.RECEIVER_ID =ADDRESS.ID LEFT JOIN PAYUSER PUER
        ON CUS.CUSTOMERID=PUER.CUSTOMERID
        LEFT JOIN RYX_TERM_ORDER_DETAIL_DELIVER DELIVER ON TORDER.ORDER_ID=DELIVER.ORDER_ID
        <where>
            <if test="branchName != null">
                and BRANCH.NAME= #{branchName,jdbcType=VARCHAR}
            </if>
            <if test="userPhoneNumber != null">
                and PUER.USERID= #{userPhoneNumber,jdbcType=VARCHAR}
            </if>
            <if test="orderStatus != null">
                and TORDER.STATUS= #{orderStatus,jdbcType=VARCHAR}
            </if>
            <if test="orderId != null">
                and TORDER.ORDER_ID= #{orderId,jdbcType=VARCHAR}
            </if>
            <if test="ordercDate != null">
                and TORDER.ORDER_CDATE= #{ordercDate,jdbcType=VARCHAR}
            </if>
            <if test="wayDate != null">
                and TORDER.WAY_DATE= #{wayDate,jdbcType=VARCHAR}
            </if>
            <if test="termid != null">
                and DELIVER.START_NUM = #{termid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRyxTermOrder" resultMap="BaseResultMap" parameterType="String">
        SELECT   <include refid="Base_Column_List"></include> FROM RYX_TERM_ORDER TORDER LEFT JOIN
        RYX_TERM_ORDER_DETAIL DETAIL ON TORDER.ORDER_ID = DETAIL.ORDER_ID LEFT JOIN RYX_TERM_GOODS GOODS ON
        DETAIL.GOODS_ID=GOODS.ID LEFT JOIN
        RYX_TERM_BRAND BRANCH ON GOODS.BRANCH_ID = BRANCH.ID LEFT JOIN PAYCUSTOMER CUS ON TORDER.AGENCY_ID =
        CUS.CUSTOMERID
        LEFT JOIN RYX_DELIVERY_ADDRESS ADDRESS ON TORDER.RECEIVER_ID =ADDRESS.ID LEFT JOIN PAYUSER PUER ON
        CUS.CUSTOMERID=PUER.CUSTOMERID
        LEFT JOIN RYX_TERM_ORDER_DETAIL_DELIVER DELIVER ON TORDER.ORDER_ID=DELIVER.ORDER_ID WHERE TORDER.ORDER_ID=
        #{orderId,jdbcType=VARCHAR}
    </select>


    <!--<insert id="vfdv">
       <trim prefix="values (" suffix=")" suffixOverrides="," >
         <if test="orderId != null" >
           #{orderId,jdbcType=VARCHAR},
         </if>
         <if test="agencyId != null" >
           #{agencyId,jdbcType=VARCHAR},
         </if>
         <if test="acount != null" >
           #{acount,jdbcType=DECIMAL},
         </if>
         <if test="amount != null" >
           #{amount,jdbcType=DECIMAL},
         </if>
         <if test="orderCdate != null" >
           #{orderCdate,jdbcType=VARCHAR},
         </if>
         <if test="orderCtime != null" >
           #{orderCtime,jdbcType=VARCHAR},
         </if>
         <if test="status != null" >
           #{status,jdbcType=VARCHAR},
         </if>
         <if test="editable != null" >
           #{editable,jdbcType=VARCHAR},
         </if>
         <if test="orderUdate != null" >
           #{orderUdate,jdbcType=VARCHAR},
         </if>
         <if test="orderUtime != null" >
           #{orderUtime,jdbcType=VARCHAR},
         </if>
         <if test="receiverId != null" >
           #{receiverId,jdbcType=VARCHAR},
         </if>
         <if test="waybill != null" >
           #{waybill,jdbcType=VARCHAR},
         </if>
         <if test="wayDate != null" >
           #{wayDate,jdbcType=VARCHAR},
         </if>
         <if test="wayTime != null" >
           #{wayTime,jdbcType=VARCHAR},
         </if>
         <if test="expressCompany != null" >
           #{expressCompany,jdbcType=VARCHAR},
         </if>
         <if test="tradeMode != null" >
           #{tradeMode,jdbcType=VARCHAR},
         </if>
         <if test="payDate != null" >
           #{payDate,jdbcType=VARCHAR},
         </if>
         <if test="payTime != null" >
           #{payTime,jdbcType=VARCHAR},
         </if>
         <if test="sendStatus != null" >
           #{sendStatus,jdbcType=VARCHAR},
         </if>
         <if test="payOrderNo != null" >
           #{payOrderNo,jdbcType=VARCHAR},
         </if>
         <if test="payToken != null" >
           #{payToken,jdbcType=VARCHAR},
         </if>
         <if test="termBrandId != null" >
           #{termBrandId,jdbcType=VARCHAR},
         </if>
       </trim>
     </insert>

     <update id="updateByExampleSelective" parameterType="map" >
       update RYX_TERM_ORDER
       <set >
         <if test="record.orderId != null" >
           ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
         </if>
         <if test="record.agencyId != null" >
           AGENCY_ID = #{record.agencyId,jdbcType=VARCHAR},
         </if>
         <if test="record.acount != null" >
           ACOUNT = #{record.acount,jdbcType=DECIMAL},
         </if>
         <if test="record.amount != null" >
           AMOUNT = #{record.amount,jdbcType=DECIMAL},
         </if>
         <if test="record.orderCdate != null" >
           ORDER_CDATE = #{record.orderCdate,jdbcType=VARCHAR},
         </if>
         <if test="record.orderCtime != null" >
           ORDER_CTIME = #{record.orderCtime,jdbcType=VARCHAR},
         </if>
         <if test="record.status != null" >
           STATUS = #{record.status,jdbcType=VARCHAR},
         </if>
         <if test="record.editable != null" >
           EDITABLE = #{record.editable,jdbcType=VARCHAR},
         </if>
         <if test="record.orderUdate != null" >
           ORDER_UDATE = #{record.orderUdate,jdbcType=VARCHAR},
         </if>
         <if test="record.orderUtime != null" >
           ORDER_UTIME = #{record.orderUtime,jdbcType=VARCHAR},
         </if>
         <if test="record.receiverId != null" >
           RECEIVER_ID = #{record.receiverId,jdbcType=VARCHAR},
         </if>
         <if test="record.waybill != null" >
           WAYBILL = #{record.waybill,jdbcType=VARCHAR},
         </if>
         <if test="record.wayDate != null" >
           WAY_DATE = #{record.wayDate,jdbcType=VARCHAR},
         </if>
         <if test="record.wayTime != null" >
           WAY_TIME = #{record.wayTime,jdbcType=VARCHAR},
         </if>
         <if test="record.expressCompany != null" >
           EXPRESS_COMPANY = #{record.expressCompany,jdbcType=VARCHAR},
         </if>
         <if test="record.tradeMode != null" >
           TRADE_MODE = #{record.tradeMode,jdbcType=VARCHAR},
         </if>
         <if test="record.payDate != null" >
           PAY_DATE = #{record.payDate,jdbcType=VARCHAR},
         </if>
         <if test="record.payTime != null" >
           PAY_TIME = #{record.payTime,jdbcType=VARCHAR},
         </if>
         <if test="record.sendStatus != null" >
           SEND_STATUS = #{record.sendStatus,jdbcType=VARCHAR},
         </if>
         <if test="record.payOrderNo != null" >
           PAY_ORDER_NO = #{record.payOrderNo,jdbcType=VARCHAR},
         </if>
         <if test="record.payToken != null" >
           PAY_TOKEN = #{record.payToken,jdbcType=VARCHAR},
         </if>
         <if test="record.termBrandId != null" >
           TERM_BRAND_ID = #{record.termBrandId,jdbcType=VARCHAR},
         </if>
       </set>

     </update>-->

</mapper>