<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jelly.mybatis.mapper.LectureMapper">
    <resultMap id="lectureMap" type="com.jelly.mybatis.pojo.LectureBean">
        <id property="id" column="id"/>
        <result property="lectureName" column="lecture_name"/>
        <result property="note" column="note"/>
    </resultMap>
     <select id="getLecture" parameterType="int" resultMap="lectureMap">
         select * from lecture where id=#{id}
     </select>
</mapper>