<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jelly.mybatis.mapper.StudentHealthFemaleMapper">
<select id="findStudentHealthFemaleByStudentId" resultType="com.jelly.mybatis.pojo.StudentHealthFemaleBean">
    select * from female_student where student_id=#{studentId}
</select>
</mapper>