<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager"/>
    <property name="loginUrl" value="/login"/>
    <property name="successUrl" value="/index"/>
    <property name="unauthorizedUrl" value="/404"/>
    <property name="filterChainDefinitions">
        <value>
            /static/**=anon
            /lib/**=anon
            /login=anon
            /loginout=anon
            /captcha/getCaptchaImage.jpg=anon
            /**=authc
        </value>
    </property>

</bean>
 <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <property name="realm" ref="realm"/>
 </bean>
    <bean id="realm" class="com.jelly.ssm.shiro.MyRealm">
        <property name="credentialsMatcher" ref="retryLimitHashedCredentialsMatcher"/>
        <property name="cachingEnabled" value="false"/>
    </bean>
 <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
 <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
     <property name="proxyTargetClass" value="true"/>
 </bean>
 <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
     <property name="securityManager" ref="securityManager"/>
 </bean>
    <bean id="ehCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>
    <bean id="retryLimitHashedCredentialsMatcher" class="com.jelly.ssm.shiro.RetryLimitHashedCredentialsMatcher">
        <constructor-arg ref="ehCacheManager"/>
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="3"/>
        <property name="storedCredentialsHexEncoded" value="true"/>
    </bean>
</beans>